## Step Monitoring System

This project analyzes data collected from a personal monitoring device over the course of two months, October and November, 2012. The device collected data at 5-minute intervals throughout the day, recording the number of steps the person took in each 5-minute interval.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
raw_data = pd.read_csv('Data/activity.csv')

raw_data.head()

   steps        date  interval
0    NaN  2012-10-01         0
1    NaN  2012-10-01         5
2    NaN  2012-10-01        10
3    NaN  2012-10-01        15
4    NaN  2012-10-01        20

In [3]:
raw_data.shape

(17568, 3)

Some questions to answer:
What is mean total number of steps taken per day?
What is the average daily activity pattern?
Are there differences in activity patterns between weekdays and weekends?

Imputing missing values